body {
	background-color:#000;
	font: 1em "Trebuchet MS";
	
}
html, body {
	margin: 0;
	padding:0;
}
#background {
	background:url("Images/background.png") #A98436 no-repeat left top;
	position: absolute;
	height: 100%;
	width: 100%;
}
#intro {
	margin-bottom: 2em;
}
#canvas {
	position: absolute; 
	top: 100px;
	left: 0px;
}

a.ghost {
	position:relative;
	top:20px;
	left:20px;
	color:#f5f5f5;
	border: 1px solid #f5f5f5;
	border-radius:8px;
	display: inline-block;
	width:200px;
	padding: 8px;
	margin:10px;
	text-align: center;
	text-decoration: none;
	-webkit-transition: color 0.3s ease-out, background-color 0.3s ease-out;
	transition: color 0.3s ease-out, background-color 0.3s ease-out;
}

a.ghost:hover, a.ghost:focus {
	background-color: #f5f5f5;
	color:#000;
	-webkit-transition: color 0.3s ease-in, background-color 0.3s ease-in;
	transition: color 0.3s ease-in, background-color 0.3s ease-in;
}

.clearfix:after {
	visibility:hidden;
	display:block;
	font-size:0;
	content:" ";
	clear:both;
	height:0;
}

.clearfix {
	display:inline-block;
}

.blur {
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	filter: blur(3px);
}
.dialog-box {
	width: 400px;
	height: 200px;
	background: #fff;
	top: 50%;
	left: 50%;
	position: fixed;
	margin-left: -230px;
	margin-top: -175px;
	padding: 25px;

}
* html .clearfix {
	height:1%;
}

.clearfix {
	display:block;
}

.bubble-list .bubble{
	margin-bottom:20px;
}

/*.bubble-list .bubble img {
	float:left;
	width:75px;
	height:100px;
	border:3px solid #fff;
	border-radius: 10px;
}*/

.bubble-list .bubble .bubble-content {
	position:relative;
	left:250px;
	top:400px;
	float:left;
	margin-left:20px;
	width:400px;
	padding:0 20px;
	border-radius:10px;
	background:#fff;
	box-shadow:1px 1px 5px rgba(0,0,0,.2);
}

.bubble-list .bubble .bubble-content .point {
	width:0;
	height:0;
	border-top:10px solid transparent;
	border-bottom:10px solid transparent;
	border-right:12px solid #fff;
	position:absolute;
	left:-12px;
	top:12px;
}

#comment {
	display:none;
}

#wrapper {
	display:none;
}

#popupBoxOnePosition{
	top: 0; left: 0; position: fixed; width: 100%; height: 120%;
	background-color: rgba(0,0,0,0.7); display: none;
}
#popupBoxTwoPosition{
	top: 0; left: 0; position: fixed; width: 100%; height: 120%;
	background-color: rgba(0,0,0,0.7); display: none;
}
.popupBoxWrapper{
	width: 550px; margin: 50px auto; text-align: left;
}
.popupBoxContent{
	background-color: #FFF; padding: 15px;
}